<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Comp 1_00001@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{231,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00002@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{231,249}</string>
                <key>textureRect</key>
                <string>{{1,252},{231,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00003@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{231,249}</string>
                <key>textureRect</key>
                <string>{{234,1},{231,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00004@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{231,249}</string>
                <key>textureRect</key>
                <string>{{234,252},{231,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00005@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{231,249}</string>
                <key>textureRect</key>
                <string>{{467,1},{231,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00006@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{231,249}</string>
                <key>textureRect</key>
                <string>{{467,252},{231,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00007@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,230}</string>
                <key>spriteSourceSize</key>
                <string>{191,230}</string>
                <key>textureRect</key>
                <string>{{700,1},{191,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00008@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,228}</string>
                <key>spriteSourceSize</key>
                <string>{197,228}</string>
                <key>textureRect</key>
                <string>{{932,1},{197,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00009@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,227}</string>
                <key>spriteSourceSize</key>
                <string>{175,227}</string>
                <key>textureRect</key>
                <string>{{700,194},{175,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00010@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,226}</string>
                <key>spriteSourceSize</key>
                <string>{152,226}</string>
                <key>textureRect</key>
                <string>{{929,200},{152,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00011@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,213}</string>
                <key>spriteSourceSize</key>
                <string>{129,213}</string>
                <key>textureRect</key>
                <string>{{700,371},{129,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00012@0,5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,208}</string>
                <key>spriteSourceSize</key>
                <string>{110,208}</string>
                <key>textureRect</key>
                <string>{{915,371},{110,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_up.png</string>
            <key>size</key>
            <string>{1161,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c8feed71091faa9ffc1e7717a8b6f0:124f599aa633a4cd3c92b3e2dc94f021:9e56b2b8ee99b59584b01ef616c97b3e$</string>
            <key>textureFileName</key>
            <string>level_up.png</string>
        </dict>
    </dict>
</plist>
