<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,198}</string>
                <key>spriteSourceSize</key>
                <string>{143,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,155}</string>
                <key>spriteSourceSize</key>
                <string>{144,155}</string>
                <key>textureRect</key>
                <string>{{161,332},{144,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,150}</string>
                <key>spriteSourceSize</key>
                <string>{177,150}</string>
                <key>textureRect</key>
                <string>{{146,1},{177,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,135}</string>
                <key>spriteSourceSize</key>
                <string>{177,135}</string>
                <key>textureRect</key>
                <string>{{181,153},{177,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,129}</string>
                <key>spriteSourceSize</key>
                <string>{178,129}</string>
                <key>textureRect</key>
                <string>{{1,201},{178,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,138}</string>
                <key>spriteSourceSize</key>
                <string>{165,138}</string>
                <key>textureRect</key>
                <string>{{318,153},{165,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,137}</string>
                <key>spriteSourceSize</key>
                <string>{158,137}</string>
                <key>textureRect</key>
                <string>{{1,332},{158,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{146,144}</string>
                <key>textureRect</key>
                <string>{{325,1},{146,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,159}</string>
                <key>textureRect</key>
                <string>{{318,320},{147,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>power_flash.png</string>
            <key>size</key>
            <string>{470,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5cd16a024d7e7e1d52632f9508b69bc:6ef9e7580d867aa32cdc7c2eff1f7f58:2b5b2d2f96343b2c825742f9e9905d7c$</string>
            <key>textureFileName</key>
            <string>power_flash.png</string>
        </dict>
    </dict>
</plist>
