<div>
    <h1 id="app">究极无敌打包工具</h1>
    <div class="input-group">
        <ui-label value="游戏名称缩写(大写)"></ui-label>
        <ui-input id="input-game-abbr" placeholder="请输入内容" value="TW"></ui-input>
    </div>
    <div class="input-group">
        <ui-label value="打包日期(YYYYMMDD)"></ui-label>
        <ui-input id="input-package-date" placeholder="请输入内容" value="20250325"></ui-input>
    </div>
    <div class="input-group">
        <ui-label value="试玩广告名称"></ui-label>
        <ui-input id="input-ad-name" placeholder="请输入内容" value="合成战斗"></ui-input>
    </div>
    <div class="input-group">
        <ui-label value="甲方策划名字缩写(大写)"></ui-label>
        <ui-input id="input-planner-abbr" placeholder="请输入内容" value="AAA"></ui-input>
    </div>
    <div class="input-group">
        <ui-label value="公司前缀(大写)"></ui-label>
        <ui-input id="input-company-prefix" placeholder="请输入内容" value="RBN"></ui-input>
    </div>
    <div class="file-group">
        <ui-label value="打包目录"></ui-label>
        <ui-file type="directory" protocols="file,project" id="input-package-dir" value="project://build/super-html"></ui-file>
    </div>
    
    <div class="platforms-section">
        <div class="platforms-title">选择打包平台</div>
        <div class="platforms-container">
            <div class="platform-item">
                <ui-checkbox id="platform-applovin">applovin</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-bigo">bigo</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-common">common</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-common_min">common_min</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-facebook">facebook</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-google">google</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-ironsource">ironsource</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-ironsource2025">ironsource2025</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-kwai">kwai</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-liftoff">liftoff</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-mintegral">mintegral</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-moloco">moloco</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-nefta">nefta</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-pangle">pangle</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-tiktok">tiktok</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-unity">unity</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-vungle">vungle</ui-checkbox>
            </div>
            <div class="platform-item">
                <ui-checkbox id="platform-snapchat">snapchat</ui-checkbox>
            </div>
        </div>
    </div>
    
    <ui-button id="package-btn">打包</ui-button>
</div>